.test {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 10px;
}

#content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 50px 10px;
}

.project {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 10px;

    padding: 10px;

    .header {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

        h3 {
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    p:first-child {
        padding-top: 5px;
        border-top: 1px solid;
    }

    p {
        text-transform: capitalize;
    }
}

dialog {
    margin: auto;
    padding: 50px;

    #newProjectForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        button {
            width: 50px;
        }
    }
}